{% extends 'main.html' %}

{% block title %}
	<title>{{the_title}}</title>
{% endblock %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

	<style>
		body {font-family: Arial, Helvetica, sans-serif;}
		* {box-sizing: border-box}

		/* Full-width input fields */
		input[type=text], input[type=password], input[type=email], input[type=tel] {
		  width: 100%;
		  padding: 15px;
		  margin: 5px 0 22px 0;
		  display: inline-block;
		  border: none;
		  background: #f1f1f1;
		}

		input[type=text], input[type=password], input[type=email], input[type=tel] {
		  background-color: #ddd;
		  outline: none;
		}

		hr {
		  border: 1px solid #f1f1f1;
		  margin-bottom: 25px;
		}

		/* Set a style for all buttons */
		button {
		  background-color: #4CAF50;
		  color: white;
		  padding: 14px 20px;
		  margin: 8px 0;
		  border: none;
		  cursor: pointer;
		  width: 100%;
		  opacity: 0.9;
		}

		button:hover {
		  opacity:1;
		}

		/* Extra styles for the cancel button */
		.cancelbtn {
		  padding: 14px 20px;
		  background-color: #f44336;
		}

		/* Float cancel and signup buttons and add an equal width */
		.cancelbtn, .signupbtn {
		  float: left;
		  width: 50%;
		}

		/* Add padding to container elements */
		.container {
		  padding: 16px;
		}

		/* Clear floats */
		.clearfix::after {
		  content: "";
		  clear: both;
		  display: table;
		}

		/* Change styles for cancel button and signup button on extra small screens */
		@media screen and (max-width: 300px) {
		  .cancelbtn, .signupbtn {
		     width: 100%;
		  }
		}
	</style>
{% endblock %}

{% block scripts %}
	<script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/popper.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>		

{% endblock %}


{% block body %}
<form action="/lecturer/edit_dashboard_success" method="post" style="margin-bottom: 50px;">
  <div class="container">
	<!-- Flash Message if error occured -->
  	{% if get_flashed_messages() %}
  		<h3 style="color: red">Error occurred ! Please try again</h3>
  	{% endif %}

    <h1>Edit</h1>
    <hr>

    <label for="name"><b>Name</b></label>
    <input type="text" name="name" value="{{lecturer.name}}" required>

    <label for="phone"><b>Phone Number</b></label>
    <input type="tel" name="phone" value="{{lecturer.phone}}" pattern="[0-9]{10}" required>

    <label for="designation"><b>Designation</b></label>
    <input type="text" name="designation" value="{{lecturer.designation}}" required>

    <label for="education"><b>Education</b></label>
    <input type="text" name="education" id="education" value="{{lecturer.education}}" required> 
    
    <label for="skills"><b>Skills</b></label>
    <input type="text" name="skills" id="skills" value="{{lecturer.skills}}" >

    <label for="about"><b>About</b></label>
    <input type="text" name="about" value="{{lecturer.about}}" >

    <label for="experience"><b>Experience</b></label>
    <input type="text" name="experience" value="{{lecturer.experience}}" >

    <label for="achievements"><b>Achievements</b></label>
    <input type="text" name="achievements" value="{{lecturer.achievements}}">

    <label for="linkedin"><b>Linkedin</b></label>
    <input type="text" name="linkedin" value="{{lecturer.linkedin}}">

    <label for="github"><b>Github</b></label>
    <input type="text" name="github" value="{{lecturer.github}}">

    <label for="youtube"><b>Youtube</b></label>
    <input type="text" name="youtube" value="{{lecturer.youtube}}">
    
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div>
      <button type="submit" class="signupbtn" onclick="return Validate()">Update</button>
    </div>
  </div>
</form><br />
{% endblock %}